#b1{
background-color: rgba(0,0,0,0.1);
height: 1500px;
background-image: url("d.jpeg");
padding: 20px;
margin: 50px;
word-spacing: 3px;
letter-spacing: 0px;
font-family: fantasy;
background-repeat: repeat-y;
font-size: 30px;
background-size: contain;

}
.box1,.box2,.box3,.box4{
    border: 8px dotted red;
    
    padding: 25px;
    margin: 20px auto;
    
}
.box1{
    background-image: url("d.jpeg");
    box-shadow: 12px 12px 15px blue;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
}
.box2{
    background-image: url("d.jpeg");
    box-shadow: 12px 12px 15px blue;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: content-box;
    background-position: bottom center;
    background-attachment: scroll;
    background-clip: content-box;
    border-radius: 100px;
}
.box3{
    background-image: url("d.jpeg");
    box-shadow: 12px 12px 15px rosybrown;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
}
.box4{
    background-image: url("d.jpeg");
    box-shadow: 12px 12px 15px rebeccapurple;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
}