.b3{
    width: 300px;
    height: 300px;
    background-color: plum;
    margin: 100px auto;
    box-shadow: 10px 10px 15px black;
    border-radius: 50%;
    animation-name: example1;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 10;
    animation-direction: normal;
    animation-timing-function: ease-in-out;

}
@keyframes example{
    0%{
        background-color: plum;
    }
    to{
        background-color: orange;
    }

}
@keyframes example1{
    0%{
        background-color: plum;
    }
    15%{
        background-color: red;
    }
    25%{
        background-color: green;
    }
    35%{
        background-color: black;
    }
    45%{
        background-color: yellow;
    }
    55%{
        background-color: aqua;;
    }
    65%{
        background-color: coral;
    }
    75%{
        background-color: blue;
    }
    85%{
        background-color: olive;
    }
    100%{
        background-color: indigo;
    }

}