#heading{
    color:blue;
    background-color: yellow;
}
body{
    background-color: pink;

}
button{
    color:white;
    background-color: blue;
}
.h{
    color:white;
    background-color: darkblue;
}